.elementor-253 .elementor-element.elementor-element-330e12c {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-253 .elementor-element.elementor-element-9da8209 .elementor-heading-title {
    color: var( --e-global-color-0e7f201);
    font-family: "Roboto Mono", Sans-serif;
    font-weight: 600;
}

.elementor-253 .elementor-element.elementor-element-2c72f71 {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-9639d71);
    --divider-border-width: 1px;
}

.elementor-253 .elementor-element.elementor-element-2c72f71 .elementor-divider-separator {
    width: 100%;
}

.elementor-253 .elementor-element.elementor-element-2c72f71 .elementor-divider {
    padding-block-start: 15px;
    padding-block-end: 15px;
}

.elementor-253 .elementor-element.elementor-element-ad517b9 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-253 .elementor-element.elementor-element-05bb472 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-850f845);
    fill: var( --e-global-color-850f845);
}

.elementor-253 .elementor-element.elementor-element-05bb472 .elementor-nav-menu--main .elementor-item:hover,
.elementor-253 .elementor-element.elementor-element-05bb472 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-253 .elementor-element.elementor-element-05bb472 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-253 .elementor-element.elementor-element-05bb472 .elementor-nav-menu--main .elementor-item:focus {
    color: #fff;
}

.elementor-253 .elementor-element.elementor-element-05bb472 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-253 .elementor-element.elementor-element-05bb472 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var( --e-global-color-0e7f201);
}

.elementor-253 .elementor-element.elementor-element-05bb472 .e--pointer-framed .elementor-item:before,
.elementor-253 .elementor-element.elementor-element-05bb472 .e--pointer-framed .elementor-item:after {
    border-color: var( --e-global-color-0e7f201);
}

.elementor-253 .elementor-element.elementor-element-05bb472 .elementor-nav-menu--dropdown {
    border-style: solid;
}

#elementor-popup-modal-253 {
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

#elementor-popup-modal-253 .dialog-message {
    width: 640px;
    height: 100vh;
    align-items: flex-start;
}

#elementor-popup-modal-253 .dialog-close-button {
    display: flex;
}

#elementor-popup-modal-253 .dialog-widget-content {
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

@media(max-width:1024px) {
    .elementor-253 .elementor-element.elementor-element-330e12c {
        --margin-top: 50px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-253 .elementor-element.elementor-element-ad517b9 {
        --margin-top: 50px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    #elementor-popup-modal-253 .dialog-message {
        width: 332px;
    }
    #elementor-popup-modal-253 {
        justify-content: flex-start;
    }
}

@media(max-width:767px) {
    .elementor-253 .elementor-element.elementor-element-330e12c {
        --gap: 4px 0px;
        --margin-top: 40px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-253 .elementor-element.elementor-element-0832412 img {
        width: 25%;
    }
    .elementor-253 .elementor-element.elementor-element-9da8209 {
        text-align: center;
    }
    .elementor-253 .elementor-element.elementor-element-9da8209 .elementor-heading-title {
        font-size: 17px;
        line-height: 22px;
    }
    .elementor-253 .elementor-element.elementor-element-2c72f71>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-253 .elementor-element.elementor-element-2c72f71 .elementor-divider {
        padding-block-start: 2px;
        padding-block-end: 2px;
    }
    .elementor-253 .elementor-element.elementor-element-ad517b9 {
        --align-items: center;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-253 .elementor-element.elementor-element-05bb472 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-253 .elementor-element.elementor-element-05bb472>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-253 .elementor-element.elementor-element-05bb472 .elementor-nav-menu--main .elementor-item {
        padding-left: 9px;
        padding-right: 9px;
    }
    .elementor-253 .elementor-element.elementor-element-05bb472 .elementor-nav-menu--dropdown {
        border-width: 2px 2px 2px 2px;
        border-radius: 10px 10px 10px 10px;
    }
    .elementor-253 .elementor-element.elementor-element-05bb472 .elementor-nav-menu--dropdown li:first-child a {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .elementor-253 .elementor-element.elementor-element-05bb472 .elementor-nav-menu--dropdown li:last-child a {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #elementor-popup-modal-253 .dialog-message {
        width: 235px;
    }
    #elementor-popup-modal-253 {
        justify-content: flex-start;
    }
}